.cart-item {
  border: 1px solid #000;
  gap: 2rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.cart-item-image {
  width: auto;
}

.page-cart {
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  max-width: 1200px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .cart-item {
    flex-direction: column;
    font-size: 14px;
    margin: 0 60px 0 60px;
  }
}
