.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(30, 30, 30);
  justify-content: flex-end;
}

.navbar .site-title {
  display: flex;
  color: var(--main);
  text-decoration: none;
  font-family: var(--zenfont);
  justify-content: center;
  align-content: center;
  font-size: 50px;
  margin-left: 50px;
  margin-right: 25px;
  flex: 1;
  cursor: pointer;
}

.navbar .search-container {
  display: flex;
  width: 60%;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.navbar .search-bar input {
  display: flex;
  border-radius: 16px;
  border: none;
  width: 80%;
  height: 60px;
  padding: 10px;
  font-size: 24px;
}

.navbar .menu-list {
  display: flex;
  width: 100%;
  list-style: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 50px;
}

.navbar .menu-list a {
  text-decoration: none;
  color: antiquewhite;
}

.navbar .menu-list li {
  margin-right: 40px;
  cursor: pointer;
}

.menu-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar .menu-link {
  cursor: pointer;
}

.menu-list .menu-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-icon {
  display: flex;
  color: antiquewhite;
  font-size: 30px;
  margin: 0;
  width: 100%;
}

.count {
  display: flex;
  position: absolute;
  top: 14px;
  right: 8%;
  background-color: antiquewhite;
  border-radius: 50%;
  width: 20px;
  color: rgb(0, 0, 0);
  justify-content: center;
  text-align: center;
  font-size: 12px;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.cart-price {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .navbar .count {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar .logo {
    flex-direction: column;
  }
  .navbar .search-bar {
    flex-direction: column;
    max-width: 100%;
    margin: 0 1rem;
  }

  .navbar .search-bar input {
    font-size: 18px;
    font-weight: 400;
  }

  .navbar .menu-list {
    justify-content: row;
    margin: 0;
  }

  .navbar .site-title {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
  }
}
